
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Congratulations, @ViewBag.ClientName, you qualify!</h2>

<h3>
    Based on your income of $@ViewBag.Income and Credit Score of @ViewBag.Score,
    you qualify for the options below:
</h3>



