@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <h1>Rocket Financial Tech</h1>
    <p class="lead">Take the first step and get prequalified. Find out which of our amazing products best fit your needs.</p>
    <p><a href="/Home/Qualify" class="btn btn-primary btn-lg">Apply Securely &raquo;</a></p>

</div>

<div class="your-centered-div">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Bb0tFVLUnzk" frameborder="0" allowfullscreen></iframe>
</div>



    <div class="row">
        <div class="col-md-4">
            <h2>Mortgages</h2>
            <p>
                RFT offers a wide range of products. Choose from one our incredibly amazing low Fix Rate Mortgages or take advantage of our diverse Adjustable Rate Mortgages. 
            </p>
            <p><a class="btn btn-default" href="https://www.quickenloans.com/mortgage-application/four-steps?gclid=Cj0KCQjwybvPBRDBARIsAA7T2kjMIGtzvkpaCCPnqel-ov4RVltUWhawjT5Lc-Rg_ulLRIE2Raelrd8aAv4zEALw_wcB&qls=GBR_SLAPPONL.qckloans0e&ef_id=WbtV3QAABXNOhFT4:20171024192329:s#1">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Personal Loans</h2>
            <p>Purchasing a home can be a big commitment, let us help turn your new property into your dream home with personal loans raning from $5,000 to $35,000. </p>
            <p><a class="btn btn-default" href="https://www.rocketloans.com/?p=Adwords&c=Brand&keyword=rocket%20loans&adposition=1t2&creative=221432022172&device=c&gclid=Cj0KCQjwybvPBRDBARIsAA7T2kihKhTuCZHnbfBQY5HtoQjrIgB7vPii3N40l2KQIanj1zR-EYUFthEaAm0GEALw_wcB">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Insurance</h2>
            <p>Protect your invesment with our amazing full converage insurance or access fire insurance for peace of mind</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
